.app-login {
    background: #39c3da;
}

.app-login .app-body .app-block .app-right-section {
    background-color: #2A60CF;
}

.app-login .app-body .app-block .app-right-section .app-info ul.list li .icon {
    color: #2A60CF;
}

.btn.btn-success  {
    background-color: #2A60CF;
    border-color: #2A60CF;
    border-bottom-color: #2F4C89;
    box-shadow: 0 2px 3px rgba(47, 76, 137, 0.3);
}

.app-login .app-body .app-block .app-right-section .app-brand .highlight {
    color: #2A60CF;
}

aside.app-sidebar .sidebar-header .sidebar-brand .highlight {
    background-color: #2A60CF;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .icon {
    background-color: rgba(51, 122, 183, 0.25);
    color: rgba(41, 86, 199, 0.64);;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .title {
    color: #2A60CF;
}

body .app-container .app-heading .app-title .title .highlight {
    color: #2A60CF;
}

.btn-floating .btn-bg {
    background-color: #2A60CF;
    box-shadow: 0 1px 3px #2A60CF;
}

.card.card-danger {
    background-color: #E74C3C; }
.card.card-danger .card-body .icon {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.05); }
.card.card-danger .card-body .content .value {
    color: #FFF; }

.card.card-danger .card-header {
    background-color: #E74C3C;
    color: #FFF;
    font-size: 1.5em;
}

body .app-container > div#server-status > div.row
{
    padding-left: 30px;
    padding-right: 30px;
}
body .app-container > div#server-status > div.row > [class*="col-"]
{
    margin-bottom: 30px;
}

.navbar .navbar-collapse .navbar-nav > li.navbar-title
{
    font-size: 2em;
}

/***
Offline card*/

.card.card-danger .card-header
{
    border-color: #E74C3C;
}

/***
Loading card*/

.card-loading
{
    background-color: inherit;
    box-shadow: none;
}

.card.card-loading .card-header
{
    height: 130px;
    width: 100%;
    border: none;
}

#loading4
{
    display:block;
    position:relative;
    width:80px;
    height:80px;
    margin:auto;
}

#loading4 #innerCircle
{
    display:block;
    position:absolute;
    margin:20px 0 0 20px;

    width:40px;
    height:40px;
    border-top:7px solid #2a60cf;
    border-bottom:7px solid #2A60CF;
    border-left:7px solid transparent;
    border-right:7px solid transparent;

    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;

    box-shadow:0 0 20px #2A60CF;
    -webkit-box-shadow:0 0 20px #2A60CF;
    -moz-box-shadow:0 0 20px #2A60CF;
    -o-box-shadow:0 0 20px #2A60CF;

    -webkit-animation: ccwSpin .555s linear .2s infinite;
    -moz-animation: ccwSpin .555s linear .2s infinite;
    -o-animation: ccwSpin .555s linear .2s infinite;
    animation: ccwSpin .555s linear .2s infinite;
}
#loading4 #outerCircle1 #center
{
    display:block;
    margin:5px 0 0 5px;

    width:30px;
    height:30px;

    background-color:#2A60CF;

    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

#loading4 #outerCircle1
{
    display:block;
    position:absolute;
    margin:0 auto;

    width:80px;
    height:80px;
    border-top:7px solid #2A60CF;
    border-bottom:7px solid transparent;
    border-left:7px solid transparent;
    border-right:7px solid #2A60CF;

    border-radius:80px;
    -moz-border-radius:80px;
    -webkit-border-radius:80px;

    -webkit-animation: cwSpin 1s linear .2s infinite;
    -moz-animation: cwSpin .666s linear .2s infinite;
    -o-animation: cwSpin .666s linear .2s infinite;
    animation: cwSpin .666s linear .2s infinite;
}
#loading4 #innerCircle
{

    border-top:7px solid transparent;
    border-bottom:7px solid #2A60CF;
    border-left:7px solid #2A60CF;
    border-right:7px solid transparent;

    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}

@-webkit-keyframes cwSpin
{
    0%{-webkit-transform:rotate(0deg);	}
    100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
    0%{-moz-transform:rotate(0deg);	}
    100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
    0%{-ms-transform:rotate(0deg);	}
    100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
    0%{-o-transform:rotate(0deg);	}
    100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
    0%{transform:rotate(0deg);	}
    100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
    0%{-webkit-transform:rotate(0deg);	}
    100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
    0%{-moz-transform:rotate(0deg);	}
    100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
    0%{-ms-transform:rotate(0deg);	}
    100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
    0%{-o-transform:rotate(0deg);	}
    100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
    0%{transform:rotate(0deg);	}
    100%{transform:rotate(-360deg); }
}

