body .app-container > div#server-status > div.row
{
    padding-left: 30px;
    padding-right: 30px;
}
body .app-container > div#server-status > div.row > [class*="col-"]
{
    margin-bottom: 30px;
}

.server-status
{
    margin: initial;
}

.navbar .navbar-collapse .navbar-nav > li.navbar-title
{
    font-size: 2em;
}

/***
Offline card*/

.card.card-danger .card-header
{
    border-color: #E74C3C;
}

/***
Loading card*/

.card-loading
{
    background-color: inherit;
    box-shadow: none;
}

.card.card-loading .card-header
{
    height: 130px;
    width: 100%;
    border: none;
}

#loading4
{
    display:block;
    position:relative;
    width:80px;
    height:80px;
    margin:auto;
}

#loading4 #innerCircle
{
    display:block;
    position:absolute;
    margin:20px 0 0 20px;

    width:40px;
    height:40px;
    border-top:7px solid #2a60cf;
    border-bottom:7px solid #2A60CF;
    border-left:7px solid transparent;
    border-right:7px solid transparent;

    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;

    box-shadow:0 0 20px #2A60CF;
    -webkit-box-shadow:0 0 20px #2A60CF;
    -moz-box-shadow:0 0 20px #2A60CF;
    -o-box-shadow:0 0 20px #2A60CF;

    -webkit-animation: ccwSpin .555s linear .2s infinite;
    -moz-animation: ccwSpin .555s linear .2s infinite;
    -o-animation: ccwSpin .555s linear .2s infinite;
    animation: ccwSpin .555s linear .2s infinite;
}
#loading4 #outerCircle1 #center
{
    display:block;
    margin:5px 0 0 5px;

    width:30px;
    height:30px;

    background-color:#2A60CF;

    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

#loading4 #outerCircle1
{
    display:block;
    position:absolute;
    margin:0 auto;

    width:80px;
    height:80px;
    border-top:7px solid #2A60CF;
    border-bottom:7px solid transparent;
    border-left:7px solid transparent;
    border-right:7px solid #2A60CF;

    border-radius:80px;
    -moz-border-radius:80px;
    -webkit-border-radius:80px;

    -webkit-animation: cwSpin 1s linear .2s infinite;
    -moz-animation: cwSpin .666s linear .2s infinite;
    -o-animation: cwSpin .666s linear .2s infinite;
    animation: cwSpin .666s linear .2s infinite;
}
#loading4 #innerCircle
{

    border-top:7px solid transparent;
    border-bottom:7px solid #2A60CF;
    border-left:7px solid #2A60CF;
    border-right:7px solid transparent;

    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}

@-webkit-keyframes cwSpin
{
    0%{-webkit-transform:rotate(0deg);	}
    100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
    0%{-moz-transform:rotate(0deg);	}
    100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
    0%{-ms-transform:rotate(0deg);	}
    100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
    0%{-o-transform:rotate(0deg);	}
    100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
    0%{transform:rotate(0deg);	}
    100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
    0%{-webkit-transform:rotate(0deg);	}
    100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
    0%{-moz-transform:rotate(0deg);	}
    100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
    0%{-ms-transform:rotate(0deg);	}
    100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
    0%{-o-transform:rotate(0deg);	}
    100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
    0%{transform:rotate(0deg);	}
    100%{transform:rotate(-360deg); }
}

@-webkit-keyframes blink
{
    0%{opacity:.3;filter:alpha(opacity=30);}
    50%{opacity:.5;filter:alpha(opacity=50);}
    100%{opacity:1;filter:alpha(opacity=100);}
}
@-moz-keyframes blink
{
    0%{opacity:.3;filter:alpha(opacity=30);}
    50%{opacity:.5;filter:alpha(opacity=50);}
    100%{opacity:1;filter:alpha(opacity=100);}
}
@-o-keyframes blink
{
    0%{opacity:.3;filter:alpha(opacity=30);}
    50%{opacity:.5;filter:alpha(opacity=50);}
    100%{opacity:1;filter:alpha(opacity=100);}
}
@-ms-keyframes blink
{
    0%{opacity:.3;filter:alpha(opacity=30);}
    50%{opacity:.5;filter:alpha(opacity=50);}
    100%{opacity:1;filter:alpha(opacity=100);}
}
@keyframes blink
{
    0%{opacity:.3;filter:alpha(opacity=30);}
    50%{opacity:.5;filter:alpha(opacity=50);}
    100%{opacity:1;filter:alpha(opacity=100);}
}
